.places__article-image {
  max-width: 100%;
  margin: 0 auto 32px auto;
}

@media screen and (min-width: 480px) {
  .places__article-image {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .places__article-image {
    width: 340px;
    height: 340px;
    grid-column: 1;
    margin: 0 0 30px 0;
  }
}

@media screen and (min-width: 1024px) {
  .places__article-image {
    width: 440px;
    height: 440px;
    margin: 0 0 32px 0;
    grid-column: 1;
  }
}

@media screen and (min-width: 1280px) {
  .places__article-image {
    width: 460px;
    height: 460px;
  }
}