.footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 24px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 93.75%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 90.625%;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 92.5%;
  }
}